
<header>
    <div class="wrapper">
        <h1>Express Movies: le site des cinéphiles</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Acceuil</a></li>
            <li><a href="/movies">Films</a></li>
            <li><a href="/movie-search">Recherche</a></li>
        </ul>
    </nav>
</header>