<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylesheet" href="../public/style.css" />
    </head>

    <body>
        <h1>Express Movies: le site des cinéphiles</h1>
        <div>
            Êtes-vous plutôt films ou séries? Peu importe,
            vous trouverez votre bonheur dans les deux cas!
        </div>
    </body>
</html>