<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylesheet" href="../public/style.css" />
    </head>

    <body>
        <%- include ('partials/header') %>
        <h2>Détails sur <%= movie_title %></h2>
        <div>
            <%= movie_id %>
        </div>


        <%- include ('partials/footer') %>

    </body>
</html>